PORT=3000
DB_USER=vladislav
DB_PASS=0707
DB_NAME=betting_service
DB_HOST=localhost
DB_PORT=5432
ACCESS_TOKEN_SECRET=dkfndfjgnfkldfnjfdisqwerty
REFRESH_TOKEN_SECRET=qwertyuuipokghxczfasbfnmnvhfdkfdfjqwtdghdjkf
BETTING_USER_ID=12
BETTING_SECRET_KEY=6b34fe24ac2ff8103f6fce1f0da2ef57
BETTING_API_URL=https://bet-provider.coolify.tgapps.cloud/api